<!DOCTYPE html>
<html>
<head>
	<title>CF</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/page.css" />
</head>
<body>
	<div class="type3">
		<div class="center-div">
			<img id="logo" src="/images/logo.png"/>
		</div>
	</div>
	<div id="song-div-20" class="view overlay hm-blue-light song-div" style="top:0;left:0"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-12" class="view overlay hm-blue-light song-div" style="top:0;left:16.67%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-4" class="view overlay hm-blue-light song-div" style="top:0;left:33.3%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-5" class="view overlay hm-blue-light song-div" style="top:0;left:50%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-13" class="view overlay hm-blue-light song-div" style="top:0;left:66.67%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-21" class="view overlay hm-blue-light song-div" style="top:0;left:83.3%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-16" class="view overlay hm-blue-light song-div" style="top:25%;left:0"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-8" class="view overlay hm-blue-light song-div" style="top:25%;left:16.67%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-0" class="view overlay hm-blue-light song-div" style="top:25%;left:33.3%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-1" class="view overlay hm-blue-light song-div" style="top:25%;left:50%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-9" class="view overlay hm-blue-light song-div" style="top:25%;left:66.67%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-17" class="view overlay hm-blue-light song-div" style="top:25%;left:83.3%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-18" class="view overlay hm-blue-light song-div" style="top:50%;left:0"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-10" class="view overlay hm-blue-light song-div" style="top:50%;left:16.67%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-2" class="view overlay hm-blue-light song-div" style="top:50%;left:33.3%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-3" class="view overlay hm-blue-light song-div" style="top:50%;left:50%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-11" class="view overlay hm-blue-light song-div" style="top:50%;left:66.67%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-19" class="view overlay hm-blue-light song-div" style="top:50%;left:83.3%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-22" class="view overlay hm-blue-light song-div" style="top:75%;left:0"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-16" class="view overlay hm-blue-light song-div" style="top:75%;left:16.67%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-6" class="view overlay hm-blue-light song-div" style="top:75%;left:33.3%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-7" class="view overlay hm-blue-light song-div" style="top:75%;left:50%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-15" class="view overlay hm-blue-light song-div" style="top:75%;left:66.67%"><div class="backdrop"></div><div class="content"></div></div>
	<div id="song-div-23" class="view overlay hm-blue-light song-div" style="top:75%;left:83.3%"><div class="backdrop"></div><div class="content"></div></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/page.js"></script>
	<script>
		$(document).ready(function() {
			main(<%- JSON.stringify(data) %>)
		});
	</script>
</body>
</html>